#mapbox-geojson {
	position:relative;
}
.mapbox-geojson__search-wrap {
	display: flex;
}
.mapbox-geojson__input-wrap {
	width: 100%;
	padding: 0 8px 8px 8px;
}
#mapbox-geojson__search-wrap input {
	background: #fff;
	list-style: none;
	padding:4px;
	width:100%;
}
.mapbox-geojson__input-wrap button {
	margin-right: 12px;
	border-radius: 4px;
	height:28px;
	text-align: center;
	color: ivory;
	font-weight: 700;
}
.mapbox-geojson__input-wrap .button--find {
	background-color: dodgerblue;
}
.mapbox-geojson__input-wrap .button--clear {
	background-color: coral;
}
.mapbox-geojson__input.error {
	outline: none;
	border: 1px solid red;
}
