.clear-wrap {
  text-align: center;
  padding: 15px;
}

.wp-admin .clear-wrap {
  padding: 0;
  position: absolute;
  bottom: -30px;
  right: 0;
}

#mapbox-geojson {
  position: relative;
}

#mapbox-geojson-map {
  width: 100%;
  height: 380px;
}

.mapbox-geojson__search-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-bottom: 60px;
}

.mapbox-geojson__input-wrap {
  width: 100%;
}

.mapbox-geojson__input-wrap .acf-input {
  padding-right: 15px;
}

.mapbox-geojson__input-wrap:last-of-type .acf-input {
  padding-right: 0;
}

.mapbox-geojson__input-wrap .acf-input-wrap select {
  border-radius: 0;
}

#mapbox-geojson__search-wrap input {
  background: #fff;
  list-style: none;
  padding: 4px;
  width: 100%;
}

.mapbox-geojson__input-wrap button {
  text-align: center;
  color: ivory;
  font-weight: 700;
}

.mapbox-geojson__input-wrap.mapbox-geojson__buttons {
  position: relative;
}

.mapbox-geojson__input-wrap.mapbox-geojson__buttons .button--find {
  width: 100%;
  background: #b93142;
  color: #fff;
  text-align: center;
  padding: 1em 40px;
  position: relative;
  height: auto;
}

.wp-admin .mapbox-geojson__input-wrap.mapbox-geojson__buttons .button--find {
  padding: 0 40px;
}

.mapbox-geojson__input-wrap .button--clear .load-icon {
  content: "";
  height: 14px;
  width: 14px;
  background-image: url(../icon/loading.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -10px;
}


.mapbox-geojson-value {
  opacity: 0;
  position: absolute;
  left: -1000%;
}

@media (min-width: 768px) {
  .mapbox-geojson__input-wrap .button--clear .load-icon {
    top: 15px;
  }
}

.mapbox-geojson__input-wrap .button--clear {
  position: relative;
  width: auto;
}

.mapbox-geojson__input.error {
  outline: none;
  border: 1px solid red;
}

.acf-mapbox-marker {
  background-image: url('../icon/instructor-pin.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 36px;
  cursor: pointer;
}

.wp-admin {
  .mapbox-geojson__input-wrap .button--clear .load-icon {
    content: "";
    height: 0;
    width: 0;
    background-image: none;
    display: none;
  }
}
